.add-btn {
  margin: 10px;
}

.container2 {
  margin: 20px;
}

.div-no-note {
  margin-top: 70px;
  color: gray;
}

.note {
  min-height: 90vh;
  margin: 30px;
  padding: 20px;
  /* box-shadow: 0 0 10px 2px #B4EBFF; */
}

.note-container {
  text-align: center;
}

.note-table {
  margin: auto;
}
.title {
  margin-top: 10px;
}

.note-list {
  margin: auto;
}